<mat-card class="aggregates-card">
    <mat-card-title>Total aggregates</mat-card-title>
    <mat-card-content>
        <div class="aggregate-summary-grid">
            <ng-container *ngFor="let agg of aggregate_service.aggregates; let i = index">
                <div><b>{{ agg }}</b></div>
                <div *ngIf="(aggregate_service.get_summary_for_agg(agg) != ''); else noSummaryBl">{{
                    aggregate_service.get_summary_for_agg(agg) }}</div>
                <ng-template #noSummaryBl>
                    <div> -- </div>
                </ng-template>
            </ng-container>
        </div>

        <p class="block-title">Query</p>
        <div>
            <form [formGroup]="form" (ngSubmit)="submit_query_form()">
                <div class="aggregate-query-grid">
                    <div>
                        <mat-form-field>
                            <mat-label>Query aggregates eg. drilldown=year|item&cut=item:a</mat-label>
                            <textarea matInput formControlName="agg_query" rows="5" cols="130"></textarea>
                        </mat-form-field>
                        <div class="field-hint">
                            For example:<br />
                            <span><strong><u>drilldown=year|item&cut=item:a</u></strong></span><br />
                            <span><strong><u>drilldown=year|item&cut=item:e|year:2010</u></strong><br /></span>
                        </div>
                    </div>
                    <div>
                        <button mat-flat-button type="submit">REFRESH</button>
                    </div>
                </div>
            </form>
        </div>

        <ng-template [ngIf]="cells_total_length > 0">
            <p class="block-title">Query results: {{ cells_total_length }}</p>
            <div>
                <table mat-table table [dataSource]="cells_table_rows" matSort
                    (matSortChange)="onCellsSortChange($event)">

                    <ng-container *ngFor="let col of cells_data_cols; let i = index" [matColumnDef]="col">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col }}</th>
                        <td mat-cell *matCellDef="let row">{{ row[col] }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="cells_data_cols"></tr>
                    <tr mat-row *matRowDef="let row; columns: cells_data_cols;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">-- No data --</td>
                    </tr>
                </table>
                <mat-paginator [length]="cells_total_length" [pageSize]="cells_page_size" (page)="onCellsPage($event)"
                    [pageSizeOptions]="[5, 10, 25, 50, 100, 500, 1000]"
                    aria-label="Select page of facts"></mat-paginator>
            </div>
        </ng-template>

    </mat-card-content>
</mat-card>