<div class="main-container">
    <div class="main-left">
        <mat-card class="common-mat-card content-no-padding">
            <mat-card-title>Cubes</mat-card-title>
            <mat-card-content>
                <mat-accordion class="example-headers-align" multi>
                    <ng-template ngFor let-data [ngForOf]="cubes_list">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title (click)="expand_cube_info(data.name)"> {{ data.label }}
                                </mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="cd-grid">
                                <div>Label:</div>
                                <div>{{ data.label }}</div>

                                <div>Name:</div>
                                <div>{{ data.name }}</div>

                                <div>Category:</div>
                                <div *ngIf="(data.category != null) && (data.category != ''); else noCategoryBl">{{
                                    data.category }}AA</div>
                                <ng-template #noCategoryBl>--</ng-template>

                                <div>Info:</div>
                                <div>&nbsp;</div>
                            </div>
                            <div>
                                <ul style="margin-top: 0">
                                    <li *ngFor="let info_item of data.info|keyvalue">
                                        {{ info_item.key }}: {{ info_item.value}}
                                    </li>
                                </ul>
                            </div>

                        </mat-expansion-panel>
                    </ng-template>
                </mat-accordion>
            </mat-card-content>
        </mat-card>

    </div>

    <div class="main-content">
        <p>Pyrite (Cubes Anew) - Home. Expanded cube: {{ expanded_cube_name }}</p>

        <ng-template [ngIf]="(expanded_cube_name != null && expanded_cube_name != '')">

            <mat-tab-group animationDuration="0ms">
                <mat-tab label="[{{ expanded_cube_name }}] - model">
                    <div class="mat-tab-content">
                        Model
                    </div>
                </mat-tab>

                <mat-tab label="[{{ expanded_cube_name }}] - Aggregates">
                    <div class="mat-tab-content">
                        <app-pyrite-main-aggregates></app-pyrite-main-aggregates>
                    </div>
                </mat-tab>

                <mat-tab label="[{{ expanded_cube_name }}] - raw facts">
                    <div class="mat-tab-content">
                        <app-pyrite-main-facts></app-pyrite-main-facts>

                        <!-- <table mat-table [dataSource]="facts_data_rows" matSort>
                            <ng-container *ngFor="let col of facts_data_cols; let i = index" [matColumnDef]="col">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col }}</th>
                                <td mat-cell *matCellDef="let row">{{ row[col] }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="facts_data_cols"></tr>
                            <tr mat-row *matRowDef="let row; columns: facts_data_cols;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">-- No data --</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100, 500, 1000]"
                            aria-label="Select page of facts"></mat-paginator> -->
                    </div>
                </mat-tab>

                <mat-tab label="[{{ expanded_cube_name }}] - cubed data">
                    <div class="mat-tab-content">
                        data data data cubed data
                    </div>
                </mat-tab>
            </mat-tab-group>
        </ng-template>

    </div>

</div>